---
category:
    shop_by_price: true
    products:
        limit: {{theme_settings.categorypage_products_per_page}}
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
{{#if category.image}}
    {{> components/common/responsive-img
        image=category.image
        fallback_size=theme_settings.zoom_size
        lazyload=theme_settings.lazyload_mode
        class="category-header-image"
    }}
{{/if}}
{{#unless theme_settings.hide_category_page_heading }}
    <h1 class="page-heading">{{category.name}}</h1>
    {{{region name="category_below_header"}}}
{{/unless}}
{{{category.description}}}

<!-- ADD ALL TO CART BUTTON -->
<button class="addAllToCart" style="border: solid 1px #8f8f8f; border-radius: 3px; color: #333333; font-size: 13px; padding: 4px 16px">
    Add All To Cart
</button>


<div class="page">
    {{#if category.faceted_search_enabled}}
        <aside class="page-sidebar" id="faceted-search-container">
            {{> components/category/sidebar}}
        </aside>
    {{else if category.subcategories}}
        <aside class="page-sidebar" id="faceted-search-container">
            {{> components/category/sidebar}}
        </aside>
    {{else if category.shop_by_price}}
        {{#if theme_settings.shop_by_price_visibility}}
             <aside class="page-sidebar" id="faceted-search-container">
                {{> components/category/sidebar}}
            </aside>
        {{/if}}
    {{/if}}

    <div class="page-content" id="product-listing-container">
        {{> components/category/product-listing}}
        {{{region name="category_below_content"}}}
    </div>
</div>

{{/partial}}
{{> layout/base}}


<script>

// BIND CONSTANT TO BUTTOM ELEMENT
    const addToCartButton = document.querySelector('.addAllToCart');

// APPEND BUTTON TO DOM ON COMMAND
    const appendDeleteButton = () => {
        const button = document.createElement("button")
        button.classList.add("deleteCartButton")
        button.textContent = "Remove All Items"
        button.style = "border: solid 1px #8f8f8f; border-radius: 3px; color: #333333; font-size: 13px; padding: 4px 16px"
        addToCartButton.insertAdjacentElement('afterend', button)
        button.addEventListener('click', deleteCart)
    }
// REMOVE BUTTON FROM DOM ON COMMAND
    const removeDeleteButton = () => {
        const deleteButton = document.querySelector('.deleteCartButton');
        deleteButton.remove()
    }

// GET CART FORM STOREFRONT API ON PAGE LOAD
    const getCart = () => {
        const options = {method: 'GET', headers: {'Content-Type': 'application/json'}};

        fetch('/api/storefront/carts', options)
            .then(response => response.json())
            .then(response => {
                if (response.length > 0) {
                    appendDeleteButton()
                }
            })
            .catch(err => console.error(err));
    }
    getCart()
    

// GET ID OF FIRST PRODUCT ON CATEGORY PAGE BY TARGETING DATA-TEST ATTRIBUTE
    const productCardList = Array.from(document.querySelectorAll('.card'))
    const productIdList = productCardList.map(prod => {
        return prod.dataset.test.slice(5)
    })
    const firstItemId = productIdList[0]


// USE FIRST PRODUCT ID TO CREATE CART
    const createCart = () => {
        const options = {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: `{"lineItems":[{"quantity":1,"productId":${firstItemId}}]}`
        };

        fetch('/api/storefront/carts', options)
        .then(response => response.json())
        .then(response => {
            // CREATE AND APPEND DELETE BUTTON TO DOM IF NOT ALREADY PRESENT
            console.log(response.lineItems)
            const button = document.querySelector('.deleteCartButton')
            if (!button) appendDeleteButton()
            alert('The product has been added to the cart')
        })
        .catch(err => console.error(err));
    }
    // BIND CLICK EVENT TO CART BUTTON
    addToCartButton.addEventListener('click', createCart)


// DELETE ENTIRE CART
    const deleteCart = () => {
        // GET CART DATA FROM API TO MAKE THE CART ID AVAILABLE FOR DELETE REQUEST
        const getOptions = {method: 'GET', headers: {'Content-Type': 'application/json'}};
        fetch('/api/storefront/carts', getOptions)
        .then(response => response.json())
        .then(data => {
            const cartId = data[0].id;
            // SEND DELETE REQUEST
            const deleteOptions = {method: 'DELETE', headers: {'Content-Type': 'application/json'}};
            fetch(`/api/storefront/carts/${cartId}`, deleteOptions)
                .then(response => {
                    console.log(response)
                    // REMOVE DELETE BUTTON FROM DOM ONCE CART IS EMPTY
                    removeDeleteButton()
                    alert('All items have been removed from your cart')
                })
                })
        .catch(err => console.error(err));
    }

// DISPLAY BANNER FOR LOGGED-IN CUSTOMER

    const checkForCustomer = () => {
        return 'This function checks that the user has been authenticated on the server'
    }

    // ADD STYLES TO USER BANNER
    const addStyles = (elem, style) => {
        for (const property in style) {
            elem.style[property] = style[property]
        }
    }

    const styles = {
        backgroundColor: 'red',
        display: 'flex',
            alignItems: 'center',
        position: 'absolute',
            left: '0',
        height: '100%',
        width: '60%'
    }

// CHECK THAT USER IS LOGGED IN AND ON THE CATEGORY PAGE... BY CHECKING FOR THE PRESENCE OF THE ADDTOCART BUTTON UNIQUE TO CATEGORY.HTML (NOT IDEAL)
    const displayUserBanner = () => {
        if (checkForCustomer() && addToCartButton) {
            const nav = document.querySelector('.navUser')
            nav.style.position = 'relative'
            const banner = document.createElement('nav')
            banner.textContent = "There's a USER!"
            addStyles(banner, styles)
            nav.prepend(banner)
        }
    }
    displayUserBanner()
    

</script>